@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies {
  border-radius: 0.2px 4px 5px;
  background-color: var(--secondary-color);
  position: relative;
  margin: 1rem;
}

.movie img {
  width: 100%;
  height: 80%;
  border-radius: 7px 7px 0 0;
}

.movie-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5rem;
  letter-spacing: 0.5px;
}

.movie {
  margin: 1rem;
  background-color: var(--primary-color);
  width: 85%;
  height: 90%;
  border-radius: 7px;
}

.movie .movie-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.movie-info h3 {
  margin-top: 0;
  color: #fff;
  font-size: 90%;
}

.movie .movie-header i {
  margin-top: -1.2rem;
  color: rgba(197, 0, 0, 0.411);
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  padding: 0 0.5rem;
}

.movie button {
  background-color: rgba(105, 92, 92, 0.74);
  border: none;
  padding: 0.2rem 0.5rem;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}

footer {
  width: 100%;
  font-size: 80%;
  padding: 0.1rem 1rem;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
}

footer span {
  font-weight: 700;
}

@media (max-width: 620px) {
  .movies {
    width: 100%;
    border-radius: 0.2px 4px 5px;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
  }

  .movie-info {
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5px;
    position: relative;
  }

  .movie {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    width: 90%;
    height: 10%;
    border-radius: 7px;
    margin-bottom: 2rem;
  }
}
