@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*{
  box-sizing: border-box;
}

:root{
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

body{
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header{
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.movie img{
  width: 100%;
}

.movie-info{
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3{
  margin-top: 0;
}