@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}

body {
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;

  /* justify-content: flex-end; */
  background-color: var(--secondary-color);
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies {
  border-radius: 0.2px 4px 5px;
  background-color: var(--secondary-color);
  position: relative;
  margin: 1rem;
}

.movie img {
  width: 100%;
  height: 80%;
  border-radius: 7px 7px 0 0;
}

.movie-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5rem;
  letter-spacing: 0.5px;
}

.movie {
  margin: 1rem;
  background-color: var(--primary-color);
  width: 85%;
  height: 90%;
  border-radius: 7px;
}

.movie .movie-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.movie-info h3 {
  margin-top: 0;
  color: #fff;
  font-size: 90%;
}

.movie .movie-header i {
  color: rgba(197, 0, 0, 0.411);
  cursor: pointer;
}

.liked {
  margin-top: -.9rem;
  color: #fff;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 10;
  padding: 0 0.5rem;
}

.movie button {
  background-color: rgba(105, 92, 92, 0.74);
  border: none;
  padding: 0.2rem 0.5rem;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}

footer {
  width: 100%;
  font-size: 80%;
  padding: 0.1rem 1rem;
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
}

footer span {
  font-weight: 700;
}

@media (max-width: 620px) {
  .movies {
    width: 100%;
    border-radius: 0.2px 4px 5px;
    background-color: var(--secondary-color);
    padding: 0;
    margin: 0;
  }

  .movie-info {
    margin: 1rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.5px;
    position: relative;
  }

  .movie {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
    width: 90%;
    height: 10%;
    border-radius: 7px;
    margin-bottom: 2rem;
  }
}

.comment-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(112, 114, 118, 0.7);

  /* background-color: var(--secondary-color); */
  display: none;
}

.popup {
  padding: 20px;
  background: rgb(238, 226, 226);

  /* background: var(--secondary-color); */
  margin: 80px 50px;
  border-radius: 10px;
}

.fa {
  font-size: 2em;
}

#close {
  float: right;
  border: none;
  background-color: #fff;
}

.display {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.comment-container {
  width: 50%;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
}

input,
textarea {
  padding: 8px;
}

.submit-btn {
  width: auto;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400 !important;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px;
  border: none;
}

ul {
  list-style: none;
  margin: 5px 0;
}

li {
  margin-left: -40px;
  padding: 5px 0;
}
